*{
    margin: 0;
    padding: 0;
}

.cabeçalho-lista {
    background-color: rgb(18, 196, 77);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
body{
    background-color: rgb(160, 193, 223);
}
.cabeçalho-imagem {
    width: 20%;
}
.cabeçalho-lista {
    display: inline-block;
    margin: 0 16px;
}