*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(18, 196, 77);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
body{
    background-color: rgb(160, 193, 223);
}
.cabeçalho-imagem {
    width: 20%;
}
.cabeçalho-lista {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(rgb(18, 196, 77), #4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}